__pycache__/
phantom/.streamlit/secrets.toml
requirement.txt_bkp
../.DS_Store
.DS_Store
# Ignore secrets.toml updates to git
# git rm --cached ./phantom/.streamlit/secrets.toml
# git commit -m "Remove secret.env from tracking"